@using CodeTestTotal.ViewModel;
@model List<ListSellersViewModel>

<div id="id01" class="modal">

    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">times;</span>
</div>
<button class="d-flex btnAgregarProducto btn btn-success" onclick="AddNewSeller()" style="background-color:rgb(58, 125, 202 ); border-color:white;">
    Agregar Vendedor
</button>

<section class="sectionListSellers">

    @foreach (var item in Model)
    {
        <article class="Tarjeta">
            <div class="Tarjeta-body">
                <div class="Tarjeta-encabezado">

                    <img src="/Images/usuario.png" class="card-img-top imagen" alt="@item.VendedorNombre">

                    <h5>@item.VendedorNombre</h5>

                    <a asp-action="AddModEmpleado" asp-route-EmpleadoID="@item.VendedorID"
                   class="Tarjeta-btnInfo">Info</a>
                </div>

                <div class="Tarjeta-contenedorDatosVendedor">
                    <div>
                        <h4 class="tituloDatosVendedor">@DateTime.Now.Date.ToString("dd/MM/yyyy") (Hoy)</h4>
                        <div class="Tarjeta-contenedorDatosDiarios">
                            <p class="pNumVentas">Pedidos: @item.cantidadPedidosDespachadosDia</p>
                        </div>
                    </div>

                    <div>
                        <h4 class="tituloDatosVendedor">Histórico</h4>
                        <div class="Tarjeta-contenedorDatosHistoricos">
                            <p class="pNumVentas">Pedidos: @item.cantidadPedidosDespachadosHistorial</p>
                        </div>
                    </div>
                    <a asp-controller="Order" asp-action="ListOrders" asp-route-VendedorID="@item.VendedorID"
                   class="Tarjeta-btnInfo btnHistoricoVenta">Pedidos</a>
                </div>
            </div>
        </article>
    }

</section>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
    var url = '@Url.Action("_AddSeller","Seller")';

    function AddNewSeller() {
        document.getElementById('id01').style.display = 'block'
        

        $.get(url,llegadaDatos);
    }

    function llegadaDatos(datos){
        document.getElementById("id01").innerHTML = datos;
    }

    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>