@model List<Mascota>
@{
    ViewData["Title"] = "Hola";
}

<div id="id01" class="modal">

    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">times;</span>
</div>

<section class="misMascotas">

    @foreach (Mascota item in Model)
    {
        <article class="Mascota">
            <h2>@item.MascotaNombre</h2>
            <div class="Mascota_imagenes">

                @if (@item.MascotaImg != null)
                {
                    <img src="/Images/@item.MascotaImg" alt="@item.MascotaNombre" title="@item.MascotaNombre" class="Mascota_foto">
                }
                else
                {

                    @if (@item.MascotaTipo == "P")
                    {
                        <img src="/Images/perroDefault.png" alt="@item.MascotaNombre" title="@item.MascotaNombre" class="Mascota_foto">
                    }
                    else
                    {
                        <img src="/Images/GatoDefault.png" alt="@item.MascotaNombre" title="@item.MascotaNombre" class="Mascota_foto">
                    }

                }

                @if (item.MascotaTipo == "P")
                {
                    <img src="/Images/perro.png" class="mascota_tipo">
                }
                else
                {
                    <img src="/Images/gato.png" class="mascota_tipo">
                }
            </div>
            <a href="" class="btnInfo">Información</a>
            <button class="btnInfo" onclick="AddNewOrder(@item.MascotaID, '@item.MascotaNombre')" id="btnOpenModalNewOrder">Pedido</button>
            <button class="btnInfo" onclick="ShowOrders(@item.MascotaID, '@item.MascotaNombre', '@item.MascotaTipo' )" id="btnOpenModalNewOrder">Historial</button>
        </article>
    }

</section>

<a asp-controller="Pet" asp-action="AddPet">
    <img src="/Images/AddMascota.png" class="AgregarMascota">
</a>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
    var url = '@Url.Action("NewOrder","Order")';
    var urlOrders = '@Url.Action("MyOrders","Order")';

    function AddNewOrder(MascotaID, MascotaNombre) {
        document.getElementById('id01').style.display = 'block'

        $.get(url, { MascotaID: MascotaID, MascotaNombre: MascotaNombre }, llegadaDatos);
    }

    function ShowOrders(MascotaID, MascotaNombre, MascotaTipo) {
        document.getElementById('id01').style.display = 'block'

        $.get(urlOrders, { mascotaID: MascotaID, nameMascota: MascotaNombre, mascotaTipo: MascotaTipo }, llegadaDatos);
    }

    
    function llegadaDatos(datos) {
        document.getElementById("id01").innerHTML = datos;
    }

    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

