@model List<Mascota>
@{
    ViewData["Title"] = "Hola";
}

<section class="misMascotas">

    @foreach (Mascota item in Model)
    {
        <article class="Mascota">
            <h2>@item.MascotaNombre</h2>
            <div class="Mascota_imagenes">

                @if (@item.MascotaImg != null)
                {
                    <img src="/Images/@item.MascotaImg" alt="@item.MascotaNombre" title="@item.MascotaNombre" class="Mascota_foto">
                }
                else
                {

                    @if (@item.MascotaTipo == "P")
                    {
                        <img src="/Images/perroDefault.png" alt="@item.MascotaNombre" title="@item.MascotaNombre" class="Mascota_foto">
                    }
                    else
                    {
                        <img src="/Images/GatoDefault.png" alt="@item.MascotaNombre" title="@item.MascotaNombre" class="Mascota_foto">
                    }

                }

                @if (item.MascotaTipo == "P")
                {
                    <img src="/Images/perro.png" class="mascota_tipo">
                }
                else
                {
                    <img src="/Images/gato.png" class="mascota_tipo">
                }
            </div>
            <a href="" class="btnInfo">Información</a>

        </article>
    }

</section>

<a asp-controller="Pet" asp-action="AddPet">
    <img src="/Images/AddMascota.png" class="AgregarMascota">
</a>
